name: nextjs

services:
  web:
    image: velveta-nextjs-prod:latest
    restart: unless-stopped
    env_file:
      - {{ velveta_paths.prod_nextjs_env_file }}
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: "1"
      PORT: "3000"
    networks:
      default:
        aliases:
          - nextjs-prod
      frappe_net:

networks:
  frappe_net:
    external: true
    name: frappe_default
