VELVETA_DB_ROOT_PASSWORD={{ velveta_db_root_password }}
VELVETA_SITE_ADMIN_PASSWORD={{ velveta_site_admin_password }}
VELVETA_SITE_NAME={{ velveta_sites.prod }}
VELVETA_ERP_DOMAIN={{ velveta_domains.erp_prod }}
VELVETA_NEXTJS_DOMAIN={{ velveta_domains.nextjs_prod[0] }}
VELVETA_NEXTJS_DOMAIN_WWW={{ velveta_domains.nextjs_prod[1] }}
