VELVETA_DB_ROOT_PASSWORD={{ velveta_db_root_password }}
VELVETA_SITE_ADMIN_PASSWORD={{ velveta_site_admin_password }}
VELVETA_SITE_NAME={{ velveta_sites.prod }}
VELVETA_ERP_DOMAIN={{ velveta_domains.erp_prod }}
VELVETA_NEXTJS_DOMAIN={{ velveta_domains.nextjs_prod[0] }}
VELVETA_NEXTJS_DOMAIN_WWW={{ velveta_domains.nextjs_prod[1] }}
ERPNEXT_URL=http://frontend:8080
ERP_HOST_HEADER={{ velveta_domains.erp_prod }}
NEXT_PUBLIC_BASE_URL={{ velveta_nextjs.base_url }}
ECOMMERCE_PRICE_LIST={{ velveta_nextjs.ecommerce_price_list }}
ERPNEXT_API_KEY=
ERPNEXT_API_SECRET=
AHLPAY_MERCHANT_ID={{ velveta_nextjs.ahlpay_merchant_id }}
AHLPAY_USER_CODE={{ velveta_nextjs.ahlpay_user_code }}
AHLPAY_EMAIL={{ velveta_nextjs.ahlpay_email }}
AHLPAY_PASSWORD={{ velveta_nextjs.ahlpay_password }}
AHLPAY_ENVIRONMENT={{ velveta_nextjs.ahlpay_environment }}
