[Unit]
Description=Velveta cleanup job
After=docker.service network-online.target
Wants=docker.service network-online.target

[Service]
Type=oneshot
ExecStart={{ velveta_paths.infra_root }}/scripts/cleanup-prod.sh
User=root
